*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 30px;
    grid-template-areas: 
    "header main"
    "header footer"
    ;
}
header{
    grid-area: header;
    background-color: aqua;
}
.container-grid{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "item-1 item-1 item-2 item-3"
    "item-1 item-1 item-4 item-3"
    "item-5 item-5 item-6 item-6"
    ;
}

.item-1{
    grid-area: item-1;
    background-color: antiquewhite;
    padding: 20px;    
}
.item-2{
    grid-area: item-2;
    background-color:azure  ;
    padding: 20px;
}
.item-3{
    grid-area: item-3;
    background-color: beige ;
    padding: 20px;
}
.item-4{
    grid-area: item-4;
    background-color:rgb(236, 118, 118) ;
    padding: 20px;
}
.item-5{
    grid-area: item-5;   
    background-color: rgb(107, 107, 239) ;
    padding: 20px;
}
.item-6{
    grid-area: item-6;
    background-color: rgb(147, 140, 140) ;
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: brown;
}